.App {
  text-align: center;
}
 .theside input{
   position: absolute;
   cursor: pointer;
 }

 .custRadio{
   position: absolute;
   top: 0;
   height: 30px;
   background-color: aqua;
   border-radius: 35%;
   left: 0;

 }

 .theside:hover{
   background-color: aquamarine;
 }

 form{
   display: flex;
   flex-direction: column;
   width: 400px;
 }
 .row{
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
 }
 label{
   display: flex;
   flex-direction: column;
   padding: 20px;
   width: 90px;
 }

 