.App {
  text-align: center;
}
 .theside input{
   position: absolute;
   cursor: pointer;
 }

 .custRadio{
   position: absolute;
   top: 0;
   height: 30px;
   background-color: aqua;
   border-radius: 35%;
   left: 0;

 }